
html{
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background-image: url(upload-wave.svg);
    background-size: cover;
    background-position: center;
    margin: 0;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 5%;
    margin: 0;
  }

  nav{
    margin: 0;
  }
  .logo {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -17px;
    font-weight: bolder;
    font-size: x-large;
  }
  
  nav ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    list-style-type: none;
    padding: 15px;
    padding-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    
  }
  
  nav li {
    margin-left: 20px;
  }
  nav li:hover{
    color:#1a1a1a ;
    cursor: pointer;
    
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: larger;
  }
  main{
    width: 100%;
    height: 80%;
  }

  h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #1a1a1a;
  }
form{
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

input[type=file]::file-selector-button {
    display: block;
    border-style: solid;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    color: #00bfff;
    font-weight: bolder;
    margin-bottom: 20px;
    margin: auto;
}

input[type=submit] {
    display: block;
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    color: #00bfff;
    font-weight: bolder;
    background-color: #333;
    margin:20px;
}

select {
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  margin:20px;
  color: #00bfff;
  font-weight: bolder;
  background-color: #1a1a1a;
  text-align: center;
  margin-top: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select option {
  width: 300px;
  height: 50px;
  color: #00bfff;
  font-weight: bolder;
  background-color: #1a1a1a;
}

select option:checked {
  background-color: #ddd;
}

#section{
  margin: auto;
}
ul{
  list-style: none;
  font-family:'Courier New', Courier, monospace;
  font-size: x-large;
}

p{
  color:#1a1a1a;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}