<!DOCTYPE html>
<html>
<head>
    <title>Video Analyzer - Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='historyStyle.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            Advance CCTV Analyzer
        </div>
        <nav>
            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>    
        <h1>Video History</h1>
        {% for metadata in metadataList %}
            <section class="results">
                <table>
                    <tr>
                    <td>Video name</td>
                    <td>{{ metadata.videoName }}</td>
                    </tr>
                    <tr>
                    <td>Duration</td>
                    <td>{{ metadata.duration }} secods</td>
                    </tr>
                    <tr>
                    <td>Start time</td>
                    <td>{{ metadata.startTime }}</td>
                    </tr>
                    <tr>
                    <td>Search key</td>
                    <td> {{ metadata.searchKey }}</td>
                    </tr>
                    <tr>
                        <td>Accuracy</td>
                        <td> {{ metadata.accuracy }}%</td>
                    </tr>
                </table>
                <a href="/download/{{ metadata.id }}" class="button more">Download results</a>
            {% endfor %}
        </section>
    </main>
    <div class="divider"></div>
</body>
</html>

