<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCTV Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='indexStyle.css') }}">
</head>

<body>
    <header>
        <div class="logo">
            Advance CCTV Analyzer
        </div>
        <nav>
            <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        
        <section id="intro">
            <h1>Welcome</h1>
            <p>We at ,<span>ACA</span> have realized that analysing hours and hours CCTV results in a lot of problems caused by</p>
            <ul>
                <li>People get tired and make mistakes</li>
                <li>It Takes too much time to analyse and the video data</li>
                <li>The human eye can miss important details</li>
                </ul>
            <a href="{{ url_for('upload') }}" id="upload-button">Upload Video</a>
            <a href="{{ url_for('history') }}" id="upload-button">Upload Video</a>
        </section>
        <img src="{{url_for('static', filename = 'feature.png')}}" alt="two people with big margnifying class" class="feature-img">
    </main>
    <footer>

    </footer>
</body>
</html>
